---
import BaseLayout from '../layouts/BaseLayout.astro';
import SiteHeader from '../components/SiteHeader.astro';
import Hero from '../components/Hero.astro';
import WhatSpecScoreIs from '../components/WhatSpecScoreIs.astro';
import Hierarchy from '../components/Hierarchy.astro';
import Problems from '../components/Problems.astro';
import AiSkills from '../components/AiSkills.astro';
import LinterDemo from '../components/LinterDemo.astro';
import WhatShips from '../components/WhatShips.astro';
import ToolAgnostic from '../components/ToolAgnostic.astro';
import Quickstart from '../components/Quickstart.astro';
import Ecosystem from '../components/Ecosystem.astro';
import HonestLimits from '../components/HonestLimits.astro';
import Faq from '../components/Faq.astro';
import FinalCta from '../components/FinalCta.astro';
import SiteFooter from '../components/SiteFooter.astro';
---

<BaseLayout>
  <SiteHeader />
  <main>
    <Hero />
    <WhatSpecScoreIs />
    <Hierarchy />
    <Problems />
    <AiSkills />
    <LinterDemo />
    <HonestLimits />
    <WhatShips />
    <ToolAgnostic />
    <Quickstart />
    <Ecosystem />
    <Faq />
  </main>
  <FinalCta />
  <SiteFooter />
</BaseLayout>
